In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_train = pd.read_csv("../data/interim/train.csv")
df_test = pd.read_csv("../data/interim/test.csv")

/u7/tw4zhang/miniconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,4,6,10,12,18,24,35,56,57,65,85,86,87,88,89,98,99,100,105,124,125,126,127,128,130,131,133,166,171,172,192,193,194,195,204,205,206,207,228,229,230,240,256,257,258,259,260,261,262) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/u7/tw4zhang/miniconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,6,10,12,21,24,35,85,87,88,89,100,124,126,127,128,130,131,133,166,172,177,193,194,195,205,206,207,220,222,228,229,230,240,257,258,260,261,262) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
categorical = ['v17', 'v20', 'v25', 'v78', 'v154', 'v155', 'v161', 'cntry']

yes_no_cols = ['v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v14', 'v18', 'v21', 'v22', 'v23',
       'v24', 'v43', 'v53', 'v77', 'v105', 'v108', 'v152', 'v157', 'v162',
       'v165', 'v172', 'v173', 'v187', 'v188', 'v221', 'v241', 'v242', 'v243',
       'v248', 'v254', 'v256', 'v257']

In [4]:
df_train["test"] = 0
df_test["test"] = 1

In [5]:
df = pd.concat([df_train, df_test]).reset_index(drop=True)

In [6]:
df.shape

(39325, 274)

In [7]:
df[yes_no_cols] = df[yes_no_cols].replace(to_replace=["2", 2], value=0)
df[yes_no_cols] = df[yes_no_cols].replace(to_replace=["1", 1], value=1)

In [8]:
one_hot = categorical + ['v70', 'v71', 'v72', 'v73', 'v102', 'v103', 
                           'v158', 'v159', 'v160', 'v163', 'v164', 
                           'v169', 'v170', 'v190', 'v191',
                          'v216', 'v231']

In [9]:
numeric = [col for col in df.columns if col not in one_hot + ['id', 'satisfied']]

In [10]:
len(df)

39325

In [11]:
df_encoded = df

In [12]:
df_encoded[numeric] = df_encoded[numeric].apply(pd.to_numeric, args=('coerce',))

In [13]:
df_encoded.to_csv("../data/processed/data_encoded.csv", index=False)

In [23]:
df_encoded

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v264,v265,v266,v267,v268,v269,v270,cntry,satisfied,test
0,9948,2.0,2.0,74.0,11010.0,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AT,0.0,0
1,25601,4.0,2.0,58.0,11010.0,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AT,0.0,0
2,8592,6.0,2.0,47.0,11010.0,11010.0,0.0,0.0,1.0,0.0,...,1993.0,1995.0,NaN,NaN,NaN,NaN,NaN,AT,1.0,0
3,29593,10.0,2.0,22.0,11010.0,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AT,0.0,0
4,4252,0.0,1.0,24.0,11010.0,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AT,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39320,31430,0.0,2.0,27.0,14120.0,NaN,0.0,0.0,0.0,0.0,...,2010.0,2014.0,NaN,NaN,NaN,NaN,NaN,SI,NaN,1
39321,3876,1.0,3.0,82.0,14120.0,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SI,NaN,1
39322,20710,5.0,1.0,41.0,14120.0,NaN,0.0,0.0,0.0,0.0,...,1998.0,2001.0,NaN,NaN,NaN,NaN,NaN,SI,NaN,1
39323,26015,8.0,1.0,19.0,14120.0,NaN,0.0,1.0,0.0,1.0,...,1974.0,NaN,NaN,NaN,NaN,NaN,NaN,SI,NaN,1
39324,12970,5.0,2.0,65.0,14120.0,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SI,NaN,1

In [23]:
# df_numeric = df.apply(pd.to_numeric, args=('coerce',)).fillna(MISSING)

In [24]:
# df_numeric.to_csv("../data/processed/data_encoded.csv", index=False)