In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
MISSING = -9999

In [3]:
df_train = pd.read_csv("../data/interim/train.csv")
df_test = pd.read_csv("../data/interim/test.csv")

/Users/tingwei758/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,4,6,10,12,18,24,35,56,57,65,85,86,87,88,89,98,99,100,105,124,125,126,127,128,130,131,133,166,171,172,192,193,194,195,204,205,206,207,228,229,230,240,256,257,258,259,260,261,262) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/tingwei758/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,6,10,12,21,24,35,85,87,88,89,100,124,126,127,128,130,131,133,166,172,177,193,194,195,205,206,207,220,222,228,229,230,240,257,258,260,261,262) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_train["test"] = 0
df_test["test"] = 1

In [5]:
df = pd.concat([df_train, df_test]).reset_index(drop=True)

/Users/tingwei758/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [6]:
df.shape

(39325, 274)

In [9]:
country_clusters = [
    ['BE', 'CH', 'DK', 'FI', 'NL', 'NO', 'SE'],
    ['CZ', 'EE', 'HU', 'LT', 'PL', 'PT', 'SI'],
    ['AT', 'DE', 'ES', 'FR', 'GB', 'IE', 'IL']]

In [11]:
df['cluster'] = df['cntry'].apply(lambda x: [i for i, countries in enumerate(country_clusters) if x in countries][0])

In [12]:
categorical = ['v17', 'v20', 'v25', 'v78', 'v154', 'v155', 'v161', 'cntry']

yes_no_cols = ['v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v14', 'v18', 'v21', 'v22', 'v23',
       'v24', 'v43', 'v53', 'v77', 'v105', 'v108', 'v152', 'v157', 'v162',
       'v165', 'v172', 'v173', 'v187', 'v188', 'v221', 'v241', 'v242', 'v243',
       'v248', 'v254', 'v256', 'v257']

In [13]:
df[yes_no_cols] = df[yes_no_cols].replace(to_replace=["2", 2], value=0)
df[yes_no_cols] = df[yes_no_cols].replace(to_replace=["1", 1], value=1)

In [14]:
one_hot = categorical + ['v70', 'v71', 'v72', 'v73', 'v102', 'v103', 
                           'v158', 'v159', 'v160', 'v163', 'v164', 
                           'v169', 'v170', 'v190', 'v191',
                          'v216', 'v231']

In [15]:
numeric = [col for col in df.columns if col not in one_hot + ['id', 'satisfied']]

In [16]:
# for col in numeric:
#     numeric_col = pd.to_numeric(df[col], errors='coerce')
#     na_indicator = numeric_col.isna()
#     if sum(na_indicator) > 0:
#         df[col+'_ind'] = (~na_indicator).astype(int)
#         df[col+'_missing'] = np.where(na_indicator, df[col], np.nan)
#     df[col] = numeric_col

In [17]:
# missing = [col for col in df.columns if col.endswith('_missing')]

In [18]:
for col in one_hot:
    df[col] = pd.Categorical(df[col])
df_encoded = pd.get_dummies(df, columns=one_hot, drop_first=True)

In [19]:
df['cntry'].value_counts()

DE    2965
IL    2509
IE    2332
GB    2215
LT    2208
CZ    2097
FI    2048
EE    2002
ES    1884
NL    1873
FR    1870
SE    1767
AT    1763
BE    1736
HU    1662
PL    1579
CH    1500
DK    1473
NO    1400
PT    1247
SI    1195
Name: cntry, dtype: int64

In [20]:
len(df)

39325

In [21]:
df_encoded = df_encoded.apply(pd.to_numeric, args=('coerce',)).fillna(MISSING)

In [22]:
df_encoded.to_csv("../data/processed/data_encoded_by_cluster.csv", index=False)

In [23]:
df_encoded

,id,satisfied,test,v1,v10,v100,v101,v104,v105,v106,...,v216_6,v231_.b,v231_.c,v231_.d,v231_1,v231_2,v231_3,v231_4,v231_5,v231_6
0,9948,0.0,0,2.0,1.0,1.0,2.0,2.0,0.0,0,...,0,0,0,0,0,0,0,1,0,0
1,25601,0.0,0,4.0,1.0,1.0,2.0,2.0,3.0,0,...,0,0,0,0,0,0,0,1,0,0
2,8592,1.0,0,6.0,1.0,4.0,2.0,1.0,3.0,0,...,0,0,0,0,0,0,0,1,0,0
3,29593,0.0,0,10.0,1.0,1.0,2.0,2.0,3.0,1,...,0,0,0,0,0,0,0,1,0,0
4,4252,1.0,0,0.0,1.0,1.0,1.0,3.0,3.0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39320,31430,-9999.0,1,0.0,1.0,4.0,1.0,5.0,3.0,1,...,0,0,0,0,0,0,0,1,0,0
39321,3876,-9999.0,1,1.0,1.0,2.0,2.0,-9999.0,3.0,1,...,0,0,0,0,0,0,0,1,0,0
39322,20710,-9999.0,1,5.0,1.0,4.0,2.0,7.0,3.0,0,...,0,0,0,0,0,0,1,0,0,0
39323,26015,-9999.0,1,8.0,1.0,3.0,2.0,5.0,3.0,0,...,0,0,0,0,0,0,0,1,0,0
39324,12970,-9999.0,1,5.0,1.0,2.0,2.0,2.0,1.0,0,...,0,0,0,0,0,0,0,1,0,0

In [23]:
# df_numeric = df.apply(pd.to_numeric, args=('coerce',)).fillna(MISSING)

In [24]:
# df_numeric.to_csv("../data/processed/data_encoded.csv", index=False)