In [1]:
import pandas as pd
import numpy as np

In [2]:
MISSING = -9999

In [3]:
df_train = pd.read_csv("../data/interim/train.csv")
df_test = pd.read_csv("../data/interim/test.csv")

/Users/tingwei758/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,4,6,10,12,18,24,35,56,57,65,85,86,87,88,89,98,99,100,105,124,125,126,127,128,130,131,133,166,171,172,192,193,194,195,204,205,206,207,228,229,230,240,256,257,258,259,260,261,262) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/tingwei758/opt/anaconda3/envs/kaggle/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,6,10,12,21,24,35,85,87,88,89,100,124,126,127,128,130,131,133,166,172,177,193,194,195,205,206,207,220,222,228,229,230,240,257,258,260,261,262) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df = df_train

In [5]:
df

,id,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v263,v264,v265,v266,v267,v268,v269,v270,cntry,satisfied
0,9948,2,2,74,11010,.a,2,2,2,2,...,.a,.a,.a,.a,.a,.a,.a,NaN,AT,0
1,25601,4,2,58,11010,.a,2,2,2,2,...,.a,.a,.a,.a,.a,.a,.a,NaN,AT,0
2,8592,6,2,47,11010,11010,2,2,1,2,...,1963,1993,1995,.a,.a,.a,.a,NaN,AT,1
3,29593,10,2,22,11010,.a,2,2,2,2,...,.a,.a,.a,.a,.a,.a,.a,NaN,AT,0
4,4252,0,1,24,11010,.a,2,2,2,2,...,.a,.a,.a,.a,.a,.a,.a,NaN,AT,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30075,34440,0,1,72,14120,.a,2,2,2,2,...,1945,.a,.a,.a,.a,.a,.a,.a,SI,1
30076,13566,0,1,38,14120,.a,2,2,2,2,...,.a,.a,.a,.a,.a,.a,.a,.a,SI,1
30077,29824,5,2,49,14120,.a,2,2,2,2,...,1967,1990,1993,.a,.a,.a,.a,.a,SI,0
30078,9573,0,1,16,14120,.a,2,2,2,2,...,1972,1971,.a,.a,.a,.a,.a,.a,SI,1
30079,13518,4,2,66,14120,.a,2,2,2,2,...,1952,.a,.a,.a,.a,.a,.a,.a,SI,0

In [6]:
yes_no_cols = ['v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v14', 'v18', 'v21', 'v22', 'v23',
       'v24', 'v43', 'v53', 'v77', 'v105', 'v108', 'v152', 'v157', 'v162',
       'v165', 'v172', 'v173', 'v187', 'v188', 'v221', 'v241', 'v242', 'v243',
       'v248', 'v254', 'v256', 'v257']

In [7]:
df[yes_no_cols] = df[yes_no_cols].replace(to_replace=["2", 2], value=0)
df[yes_no_cols] = df[yes_no_cols].replace(to_replace=["1", 1], value=1)

In [8]:
categorical = ['v17', 'v20', 'v25', 'v78', 'v154', 'v155', 'v161', 'cntry']

In [9]:
numeric = [col for col in df.columns if col not in categorical + ['id', 'satisfied']]

In [10]:
# for col in numeric:
#     numeric_col = pd.to_numeric(df[col], errors='coerce')
#     na_indicator = numeric_col.isna()
#     if sum(na_indicator) > 0:
#         df[col+'_ind'] = (~na_indicator).astype(int)
#         df[col+'_missing'] = np.where(na_indicator, df[col], np.nan)
#     df[col] = numeric_col

In [11]:
missing = [col for col in df.columns if col.endswith('_missing')]

In [12]:
for col in categorical+missing:
    df[col] = pd.Categorical(df[col])
df_encoded = pd.get_dummies(df, columns=categorical+missing, drop_first=True)

In [13]:
df['cntry'].value_counts()

DE    2388
IL    2014
IE    1845
GB    1761
LT    1738
CZ    1683
FI    1653
EE    1606
ES    1520
NL    1502
FR    1502
SE    1434
AT    1387
HU    1332
PL    1250
DK    1193
CH    1189
NO    1132
PT     992
SI     950
BE       9
Name: cntry, dtype: int64

In [14]:
df_encoded = df_encoded.apply(pd.to_numeric, args=('coerce',)).fillna(MISSING)

In [16]:
df_encoded.to_csv("../data/processed/data_encoded.csv", index=False)

In [16]:
# df_train_numeric = df_train.apply(pd.to_numeric, args=('coerce',)).fillna(MISSING)
# df_test_numeric = df_test.apply(pd.to_numeric, args=('coerce',)).fillna(MISSING)

In [17]:
# df_train_numeric.to_csv("./data/train_encoded.csv", index=False)
# df_test_numeric.to_csv("./data/test_encoded.csv", index=False)